name: tests

on:
  pull_request:
    paths-ignore:
      - docs/**
      - .github/workflows/*.yaml
      - '!.github/workflows/test.yaml'
  push:
    paths-ignore:
      - docs/**
      - .github/workflows/*.yaml
      - '!.github/workflows/test.yaml'
    branches-ignore:
      - dependabot/**
      - pre-commit-ci-update-config
    tags: ['**']
  workflow_dispatch:

env:
  PYTEST_ADDOPTS: --verbose --color=yes

jobs:
  test:
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    strategy:
      # Keep running even if one variation of the job fail
      fail-fast: false
      matrix:
        python:
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'
          - '3.14'
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python }}
          cache: pip

      - name: Install Python dependencies
        run: |
          pip install ".[test]"
          pip list

      - name: Run tests
        run: |
          python3 -m pytest --cov=jupyterhealth_client tests

      - name: upload coverage
        uses: codecov/codecov-action@v5
